body {
    margin: 0;
}

img {
    max-width: 100%;
}
h2 {
    font-size: 1.2rem;
}

h3 {
    font-size: 1.4rem;
}

p {
    font-size: 1rem;
}
hr {
    border-top: 1px dotted grey;
}

.p-card--highlighted {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    grid-gap: 2rem;
    border-top: 5px solid purple;
}
